* {
  padding: 0px;
  margin: 0px;
}
.wrap {
  flex-wrap: wrap;
  flex-flow: wrap;
}
.one {
  background: url(/img/b1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.two {
  height: 120px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.logo {
  position: absolute;
  top: -4%;
  height: 150px auto;
  width: 8% auto;
  padding: 20px, 10px;
}

.two ul {
  float: right;
  margin-right: 20px;
}
.two li {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 120px;
}
.two ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 6px 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.two ul li a:hover {
  background: red;
  opacity: 0.9;
  transition: 0.2s;
  border-radius: 15px;
}
.one .head {
  color: white;
  position: absolute;
  top: 1%;
  left: 25%;
  transform: translate(-50% -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  font-size: 50px;
}
.one .box {
  color: white;
  position: absolute;
  top: 35%;
  left: 5%;
  height: 350px;
  width: 430px;
  background: fixed rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
}
.box p {
  position: relative;
  top: 35px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 20px;
  line-height: 80px;
  user-select: none;
}
.one .mobile {
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  height: 550px;
  width: 890px;
  background: fixed rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
}
.one .mobile img {
  padding-left: 30px;
  padding-top: 75px;
  height: 450px;
  width: 50px auto;
}
.one .mobile h2 {
  color: white;
  position: absolute;
  top: 33px;
  left: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  user-select: none;
  font-size: 35px;
}
.one .mobile p {
  display: block;
  padding: 30px;
  font-size: 20px;
  color: white;
  position: relative;
  top: -390px;
  left: 30%;
  font-family: sans-serif;
  user-select: none;
}
.one .mobile section img {
  position: relative;
  top: -400px;
  left: 30%;
  height: 35px;
  width: 20px auto;
  padding: 30px;
  cursor: pointer;
}
.mobile section img :hover {
}

.three {
  background: url(/img/b1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.three .nav {
  height: 680px;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}
.three .nav .four {
  color: white;
  position: relative;
  top: 20px;
  left: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  letter-spacing: 15px;
  border-radius: 20px;
}
.four h1 {
  position: relative;
  left: -18px;
}
.four img {
  overflow: hidden;
  position: relative;
  top: -50px;
  left: -600px;
  height: 250px;
  width: 300px;
  margin: 0 auto;
  padding: 100px;
}

.add li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: -60px;
  left: 230px;
  display: inline-block;
  line-height: 40px;
  margin: 30px;
  padding: 10px;
  user-select: none;
}
.add h2 {
  font-size: 40px;
}
.collage {
  background: url(/img/b1.jpg) no-repeat;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;
}
.collage h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.collage nav {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  height: 600px;
}
.collage img {
  position: relative;
  top: 60px;

  display: inline-block;
  padding: 20px;
  height: 300px auto;
  width: 270px;
  opacity: 0.68;
  cursor: pointer;
}

.collage button {
  height: 30px;
  width: 60px;
  position: relative;
  top: 90px;
  left: 90%;
  font-weight: bolder;
  font-family: cursive;
  cursor: pointer;
}
.five :hover {
  transition: 0.4s;
  opacity: 1;
}

.footer {
  height: 90px;
  width: 100%;

  background: url(/img/b1.jpg) no-repeat;
  background-size: cover;
  height: 53vh;
  background-attachment: fixed;
}
.footer nav {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  height: 600px;
}
.footer h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 19px;
  padding-top: 10px;
  user-select: none;
  font-weight: bolder;
  font-size: 35px;
}
.footer label {
  position: relative;
  top: 40px;
  left: 32%;
  margin: 20px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
}
.footer input {
  position: relative;
  top: 40px;

  font-size: 20px;
  font-family: cursive;
  margin: 10px;
  line-height: 10px;
}

.footer button {
  position: relative;
  top: -3%;
  left: 68%;
  height: 29px;
  width: 80px;
  font-family: cursive;
  font-weight: bolder;
  cursor: pointer;
}

.footer input {
  position: relative;
  left: 45%;
  top: 2px;
  display: block;
  line-height: 5px;
}

.end {
  height: 200px;
  width: 100%;
  background-color: black;
}

.end ul {
  list-style: none;
}
.end li {
  display: inline-block;
  position: relative;
  top: -25px;
  left: 69%;
  margin: 6px;

  padding: 30px;
}

.end .label {
  position: absolute;
  top: 342%;
  left: 75%;
  color: white;
  font-family: cursive;
}
.end .fab {
  color: white;
}
.end p {
  color: white;
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  left: 40%;
  top: -25px;
  font-size: 16px;
  user-select: none;
}
.end .small {
  font-size: 20px;
  margin: 30px 28px;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.end .small a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
.end li :hover {
  background: red;
  opacity: 1;
  transition: 0.2s;
  width: 80px;
  border-radius: 15px;
}
.small a:hover {
  transition: 0.2s;
  background: red;
  border-radius: 20px;
}
